<!DOCTYPE html>
<html>
<head>
  <title>TrunkMonkey</title>
</head>
<body>
<h1>Puzzling</h1>
<div class="board">
  <div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><br>
  <div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><br>
  <div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><br>
  <div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div>
</div>
<br /><br /><br /><br /><br /><br />
<img src="assets/lolcat_1.png" class="ui-draggable" />
<img src="assets/lolcat_2.png" class="ui-draggable" />
<img src="assets/lolcat_3.png" class="ui-draggable" />
<img src="assets/lolcat_4.png" class="ui-draggable" />
<img src="assets/lolcat_5.png" class="ui-draggable" />
<img src="assets/lolcat_6.png" class="ui-draggable" />
<img src="assets/lolcat_7.png" class="ui-draggable" />
<img src="assets/lolcat_8.png" class="ui-draggable" />
<img src="assets/lolcat_9.png" class="ui-draggable" />
<img src="assets/lolcat_10.png" class="ui-draggable" /><br>
<img src="assets/lolcat_11.png" class="ui-draggable" />
<img src="assets/lolcat_12.png" class="ui-draggable" />
<img src="assets/lolcat_13.png" class="ui-draggable" />
<img src="assets/lolcat_14.png" class="ui-draggable" />
<img src="assets/lolcat_15.png" class="ui-draggable" />
<img src="assets/lolcat_16.png" class="ui-draggable" />
<img src="assets/lolcat_17.png" class="ui-draggable" />
<img src="assets/lolcat_18.png" class="ui-draggable" />
<img src="assets/lolcat_19.png" class="ui-draggable" />
<img src="assets/lolcat_20.png" class="ui-draggable" /><br>

</body>
</html>