div {
    display: inline-block;
    background-color: black;
}

.block {
    width: 200px;
    height: 50px;
    background: #333;
    display: inline-block;
    /*position: relative;*/
    /*margin: 50px auto 0;*/
    overflow: hidden;
    border: 1px solid #333333;
    color: white;
    text-decoration: none;

    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.block2 {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.big {
    width: 200px;
    height: 200px;
}

.small {
    width: 50px;
    height: 50px;
}

.on {
    background-color: greenyellow;
    -webkit-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
    -moz-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
    box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
}