<!DOCTYPE html>
<html>
<head>
  <title>TrunkMonkey</title>
</head>
<body>
  <h1 class="monkey">Hello Trunk Monkey</h1>

  <div class="block small red"></div>
  <div class="block small red"></div>
  <%= yield %>

</body>
</html>
